
body{
	background: linear-gradient(45deg,#a3b7c0,#0b001d 100%);
	min-height: 100vh;
}

.titulo-principal {
	    color: #798cfb;
		height: 20px;
		font-size: 10px;;
		padding: 5px;
		margin: 5px, 5px;
		background-color: black;
		width: 100%;
		font-weight: bolder;
}

.container {
	display: flex;
	height: 140px;
	justify-content: center;
	gap: 30px;
	background: #181c1f;
	padding:  10px;
}

.inicio {

line-height: 0.8cm;
width: 120px;
height:120px;
color: #a3b7c0;
display: inline-block;
text-decoration: none;
text-align: center;
border-radius: 20px;
border-color: #a3b7c0;
background-color: #222629;
padding: 20px 15px 20px 15px;
}

.it{
line-height: 0.5cm;
width: 120px;
height:120px;
color: #a3b7c0;
display: inline-block;
text-decoration: none;
text-align: center;
border-radius: 20px;
border-color: #a3b7c0;
background-color: #222629;
padding: 10px 15px 20px 15px;
}


.container div a:hover{
	background: #a3b7c070;
}
.icon{
    
	color: #dee4ec;
    font-size: 1.2cm;
	text-align: center;
}

.iframe{
	height: 100vh;
	width: 100%;
	}
